@import "tailwindcss";

@theme {
  /* Colors */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  /* Fonts */
  --font-sans: var(--font-outfit), sans-serif;
  --font-ovo: var(--font-ovo), serif;

  /* Shadows */
  --shadow-light: 4px 4px 0 #000;
  --shadow-dark: 4px 4px 0 #fff;
}
